@font-face {
  font-family: "iconfont"; /* Project id 3684795 */
  src: url('iconfont.woff2?t=1664760525119') format('woff2'),
       url('iconfont.woff?t=1664760525119') format('woff'),
       url('iconfont.ttf?t=1664760525119') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qialuli:before {
  content: "\e7b4";
}

.icon-yundong:before {
  content: "\e807";
}

.icon-shangpin:before {
  content: "\e661";
}

.icon-denglu:before {
  content: "\e62e";
}

.icon-shu:before {
  content: "\e633";
}

.icon-mima:before {
  content: "\e607";
}

.icon-shiwu:before {
  content: "\e691";
}

.icon-liebiao:before {
  content: "\e6b6";
}

.icon-guanliyuan:before {
  content: "\e650";
}

